.slides {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Khoảng cách giữa các ảnh */
  padding: 0 30px; /* Khoảng cách hai bên container */
}
.slides img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc; /* Để nhìn rõ khoảng cách */
}
.left {
  flex: 1;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Khoảng cách giữa ảnh trên và ảnh dưới */
  flex: 1;
}
.right img {
  width: 100%; /* Chiếm toàn bộ chiều rộng của phần tử cha */
  height: 287px;
}